.twittler-logo {
  height: 36px;
  width: 36px;
  margin: -7px 7px 0 0;
}

.navbar-nav > li {
  float: none;
  text-align: center;
  display: inline-block;
}

.navbar-right {
  float: right;
  margin: 0;
  display: inline-block;
}

.navbar-header {
  display: inline-block;
}

.tweet > a {
  font-weight: bold;
  cursor: pointer;
}

body {
  margin: 50px 0 10.8px;
  background: #f5f8fa;
}

#script-body {
  padding-top: 10px;
}

.modal-body {
  background-color: #f5f8fa;
}

.modal-header {
  background-color: #e1e8ed;
}

#script-body > div, .modal-body > div {
  display: block;
  padding: 15px;
  background: #fff;
  border: 1px solid #e1e8ed;
  border-bottom: 0px;
}

#script-body > div:last-child, .modal-body > div:last-child {
  border-bottom: 1px solid #e1e8ed;
}

#script-body > .tweet, .modal-body > .tweet {
  cursor: pointer;
}

#script-body > .tweet:hover, .modal-body > .tweet:hover {
  background-color: #f5f8fa;
}

#script-body > .tweet > a, .modal-body > .tweet > a {
  font-weight: bold;
}

#script-body > .tweet > img.avatar, .modal-header > img.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  float: left;
  margin-right: 15px;
}

.modal-header > img.user-avatar {
  width: 150px;
  height: 150px;
}

#script-body > .tweet > time, .modal-body > .tweet > time {
  float: right;
  color: #8899a6;
  font-size: 0.8em;
}

#script-body > #viewNew {
  cursor: pointer;
  background-color: #f5f8fa;
}

#script-body > #viewNew:hover {
  background-color: #e1e8ed;
}

#script-body > #viewNew > p {
  margin: 0;
  color: #ff3300;
